.link {
  position: relative;
  text-decoration: none;
  color: #FF8C00;
}

.link:hover {
  color: #FF8C00;
  right: 0;
  text-decoration: none;
}

.link:hover:after {
  right: 0;
  border-color: #FF8C00;
}

.link:visited {
  text-decoration: none;
  color: #cc6600;
}

.link:visited:after {
  right: 0;
  border-color: #cc6600;
}

.link:after {
  border-radius: 1em;
  border-top: .1em solid #FF8C00;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .05em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1),
}
